# build文件夹
/build
# 生成.apk安装包
*.apk
# 包含.apk的文件夹
/app/ApkDir
# 本地环境配置属性文件
local.properties
# idea文件
.idea
# .iml 文件
*.iml
# gradle 属性文件
#gradle.properties
# 文件夹内部build文件夹
*/build

# 截图&traceView文件
captures/
#vi 产生的恢复文件
*.swo
*.swp
# .gradle文件夹
.gradle
# 其他
*~
#.gitignore本身
#.gitignore
#gradle
#build.gradle
projectFilesBackup/
